* {
    margin: 0; padding: 0;
}

body {
    overflow: hidden;
    font-size: 20px;
}

canvas {
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.box {
    user-select: none;
    color: #0f0;
    background-color: rgba(0, 0, 0, .8);
    text-align: center; /* 文字横向居中 */
    
	width: 80%;
    height: 30%;
    /* 上下左右置中 */
	margin: auto;
	position: absolute;
	top: 0; bottom: 0;
    left: 0; right: 0;
    overflow: hidden;
    animation: load 5s ease-in-out;
}

@keyframes load {
    from {
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      transform: none;
    }
}  

a {
    color: #0f0;
    font-size: 22px;
    list-style: none;
    text-decoration: none;
}

.box h1 {
    font-size: 48px;
    position: relative;
    margin: 20px auto;
}

.slogan {
    border-right: 2px solid #fff;
    width: 12em;
    margin: 20px auto;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation-delay: 3s; 
    animation-delay: 3s;
    animation: typing 4s steps(12),
        caret 1s steps(1) infinite;
}

/* 打字机效果，参考文章
https://blog.arvinh.info/tech/css-typing-animation 
*/
@keyframes typing {
    from { width: 0 }
}

@keyframes caret {
    50% { border-color: transparent; }
}